	
	a{
        float: left;
        color: white;
        text-align: center;
        margin: 5px;
        padding: 10px 15px;
        text-decoration: none;
        background-color: #686868;

        }
        #heading{
        	color: rgb(0,0,0);
        }
		.nav{
			background-color: rgba(37, 0, 186, 1);
        	overflow: hidden;
        	color: white;
		}
		table, th, td {
			  border: 1px solid navy;
			  font-size: 20px;
			  text-align: center;
			  margin-left:auto;
			  margin-right: auto;
			  padding: 2px;

		}
		section{
			text-align: center;
			margin: 10px;
		}
		footer{
        	background-color: navy;
        	color: white;
        	text-align: center;
        }