*{
	font-family: sans-serif ;	
	margin: 0;
	padding: 0;

}
body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(paris.jpg);
	background-size: cover;
	background-position: center ;
	height: 200vh;
	background-attachment: fixed;
	color: white;
}
.header ul{
	float: right;
	margin-top: 20px;
}
.header ul li {
	display: inline-block;
}
.header ul li a{
	border: 1px solid transparent;
	text-decoration: none;
	color: white;
	padding:5px 20px;
	transition: 0.6s ease;
	border-radius: 5px;
}

.header ul li a:hover
{
	background-color: blue;
	color:white;
}

.header{
	max-width: 1200px;
	margin:auto;
	margin-bottom: 50px;
}
h1{
	text-shadow:4px 4px 6px purple;

}



.blog {
	position: relative;
	padding: 15px;
	background-color: white;
	color: black;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	margin-bottom: 15px;
	width: 70%;
	margin: auto;
	margin-bottom: 40px;
}
.data{
	margin: 10px;
}
